<app-loader *ngIf="loading$ | async; else page"></app-loader>

<ng-template #page>
  <div class="page">
    <h1>Registration</h1>
    <p class="mat-body">
      Please fill in the form. Required fields are marked with
      <span class="required-marker">*</span>.
    </p>

    <form *ngIf="form" [formGroup]="form">
      <app-form-field
        *ngFor="let field of registrationFields"
        [type]="field.type"
        [label]="field.label"
        [formControlName]="field.name"
        [required]="field.required"
      ></app-form-field>

      <div class="submit-button-container">
        <button
          type="button"
          mat-raised-button
          color="primary"
          class="submit-button"
          [disabled]="form.pristine || form.invalid"
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</ng-template>
